*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body{
    height: 100vh;
    background-color: #212428;
}

.hero{
    background-image:url(bg-image-9.jpg);
    height: 350px;
    background-repeat: no-repeat;
    /* display: flex; */
    background-size: cover;
    background-position: center center;
    /* background-color: gray;     */
    /* width: 100vw; */
}

.blackhero{
    position: absolute;
    width: 80%;
    height: 35%;
    background-color: #22262A;
    transform: translate(12.5%, -40%);
    border-radius: 15px;
    box-shadow: 8px 8px 25px  rgb(0, 0, 0);
    /* background-image: linear-gradient(-45deg, rgba(212, 212, 212, 0.11), #22262A );    */
    padding:30px;
    display: flex;
}

.profileleft{
    width: 50%;
    height: 100%;
    display: flex;
}


.profileimage{
    border-radius: 10px;
    transform: translate(0 , -50%);
    height: 220px;
    border: 5px  solid#22262A;
    margin: 10px;

}


.name{
   color: white;
   margin-left: 20px;
   font-family: sans-serif;

}

.mic{
    font-size: 40px;
}

.mic2{
    margin-top: 20px;
    font-size: 25px;
    color: #7E858F;
}
 
.icons{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 10%;
    margin: 40px 0 0 20px;
    padding: 20px 0 20px 0;

}

.ibackground{
   height: 50px;
   width: 50px;
   background-color: #212428;
   border-radius: 5px;
   background-image: linear-gradient( -45deg, rgba(82, 82, 82, 0.11), #22262A );
   box-shadow: -5px -5px 15px rgba(94, 94, 94, 0.342); 
   box-shadow: 5px 5px 10px rgb(0, 0, 0); 
}

.ibackground:hover{
    transform: translate(0, -10px);
    transition-duration: .7s;
    background-image: none;
}

.facebook, .twitter, .linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook img {
    height: 30px;
}

.twitter img {
    height: 25px;
}

.linkedin img {
    height: 25px;
}

.vl{
    height: 100%;
    width: 1px;
    background-color: black;
}

.profileright{
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    font-family: sans-serif;
    color: white;
    margin:0 0 0 40px;
}

.head{
    margin: 10px 0 0 0;
    font-weight: 400;
    color: rgb(185,195,210);

}

.title{
    color: gray;
}
 
.desc{
    padding:0 10% 0 10% ;
    /* background-color: red; */
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
}

.hidden{
    height: 270px;
}

/* .stick{
    position: sticky !important;
    top: 0;
} */

.leftnav{
    position: absolute;
    background-color: #202327;
    height: auto;
    width: 15%;
    /* margin-top: 1.5%; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1% 0;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.103);
    /* position: sticky;
    top: 10%; */
}

li{
    color: white;
    list-style: none;
    border-radius: 10px;
}

li:hover{
    background-color:rgb(255,1,79);
    transition-duration: .3s;
}


.aa{
    color: white;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    display: inline-block;
    padding: 45px 60px;
    border-radius: 10px;
    width: 100%;
    /* background-color: red; */
}

.aa:focus{
    color: white;
    background-color:rgb(255,1,79);
}

.rightdescription{
    display: grid;
    /* grid-template-columns:  auto; */
    /* grid-template-rows: auto auto auto; */
    height:auto;
    width:85%;
    background-color:rgb(31,34,38);
    margin-left:22%;
    padding:10px;
    border-radius:10px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.103);
}

.fi{
    display: flex;
    margin: 5% 3% 5% 3%;
    width: auto;
    /* background-color: red; */
    height: auto;
    font-family: Montserrat;
}

.about-desc{
    height: auto;
    width: auto;
    /* background-color: green; */
    margin-left: 6%;
}

.marque{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: gray;
}

.button1{
    padding: 20px 35px;
    color: red;
    background-color:rgb(31,33,37);
    border: none;
    border-radius: 5px; 
    box-shadow: -8px -8px 20px rgba(255, 255, 255, 0.144);
    margin-top: 30px;
    font-size: 15px;
}

.What{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 13px;
}

.box{
    border: 1px solid black;
    height: auto;
    width: 50%;
    margin: 5% 3% 5% 3%;
    display: grid;
    justify-items: center;
    padding: 2rem;
}

.boxdad{
    display: flex;
}

.weblink{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.line{
     color: 2px solid rgb(255, 255, 255);
     margin-top: 2%;
     height: 2px;
     width: 100%;
     background-color: rgb(0, 0, 0);
} 

.clients{
    margin: 5% 3% 5% 3%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
 
    
}

.clients-detail{
    border: 2px solid black;
    display: block;
    justify-content: center;
}

.imgcen{
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.copyright{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
}

